<!DOCTYPE html>
{% extends 'base.html' %} {% block body_block %} 
    {% if tasks %}
    <div class="mt-4 p-5 bg-light text-body rounded">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">TODO List</th>
          </tr>
        </thead>
        <tbody>
          <ul>
          {%for task in tasks %}
              <tr>
              <td><li>{{task}}</li></td>
              </tr>
          {% endfor %}
          </ul>
        </tbody>
      </table>
    </div>
      {% else %}
      <div class="mt-4 p-5 bg-light text-body rounded">
        <h1>No TODOs Found</h1>
        <p>Go ahead and create your first task!</p>
      </div>
      {% endif %}
{% endblock %}
