<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}
{% block body_block %}
<div class="container d-flex justify-content-center my-5">
<div class="card" style="width: 20rem;">
    <img src="{% get_media_prefix %}{{image_path}}" class="card-img-top" alt="profile picture">
    <div class="card-body">
      <h5 class="card-title">{{username|title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><p class="card-text">Email: {{ email }}</p></li>
        <li class="list-group-item"><p class="card-text">Number of Tasks: {{ number_of_tasks }}</p></li>
        <li class="list-group-item">
          <a href="{% url 'Authentication_App:edit_user' pk=user.id %}" class="btn btn-warning">Edit Profile</a>
          <a href="{% url 'Authentication_App:delete_user' pk=user.id %}" class="btn btn-danger">Delete Profile</a>
        </li>
      </ul>
  </div>
</div>
{% endblock %}
