<!DOCTYPE html>
{% extends 'base.html' %} {% block body_block %} {% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<form class="mt-3" enctype="multipart/form-data" method="POST">
  {%if messages %} {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endif %}
  <h2 class="display-4">{{purpose|title}}</h2>
  <hr />
  {{user_form| crispy}} {{image_form| crispy}} {% csrf_token %}
  <button class="btn btn-primary" action="submit">{{purpose|title}}</button>
</form>
{% endblock %}
